<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>自家製ゴーヤに関して</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
      
    <% result1 = connection.exec("select * from crops where give_for='自家消費'") %>
    <% data1 = [] %>

    <% result1.each do |record| %>
      <%  data1 << "ゴーヤの大きさ：#{record["weight"]}　消費した日付：#{record["date"]}/" %>
    <% end %>
      
    <% result2 = connection.exec("select * from crops where quality='f'") %>
    <% data2 = [] %>

    <% result2.each do |record| %>
      <%  data2 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}/" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       自家消費したゴーヤに関する情報<br><br>
      <input type="text" name="goya" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <form action="indicate.cgi" method="POST">
       訳ありゴーヤに関する情報<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="bad_goya" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>